<mat-tab-group>
  <mat-tab label="How To Make Te Form">
    <mat-card class="howToCard">
      <mat-card-header>
        <mat-card-title>Rules for changing verbs to Te Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>If it is a ru verb, drop the ru and add te <br> 食べる　→　食べて</p>
        <p>If it is a u verb, replace the last syllable by following patterns: 
          <br> 会う　→　会って
          <br> 待つ　→　待って
          <br> 取る　→　取って
          <br> 読む　→　読んで
          <br> 遊ぶ　→　遊んで
          <br> 死ぬ　→　死んで
          <br> 書く　→　書いて
          <br> 泳ぐ　→　泳いで
          <br> 話す　→　話して
        </p>
        <p>Irregular verb
          <br> する　→　して
          <br> くる　→　きて
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  
  <mat-tab label="Uses for Te Form">
    <mat-expansion-panel class="teFormPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Describle two activities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>今日は七時に起きて、勉強しました <br>I woke up at seven and studied.</p>
      <p>本を借りて、コビーします <br>I will borrow the book and copy it.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="teFormPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Connect to the second verb
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>バスに乗って、学校に行きます <br>I go to school by bus (I take a bus to school).</p>
      <p>経済の教科書を忘れて、すみません <br>I am sorry not brining the econmoic textbook (I left the textbook at home, I am sorry).
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="teFormPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          May I... do something
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>本を見てもいいですか
        <br>May I see the book?
        <br>ほい、見てもいいです
        <br>Yes, you can.
        <br>いいえ、見てはいけません
        <br>No, you can't.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="teFormPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Action in progress or A past event connected with the present
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h4>We can use ている for the action in progress or the currenct state</h4>
      <p>日本語を勉強しています <br>I study Japanese/ I am studying Japanese right now.</p>
      <p>彼は結婚しています <br>He is married (state).</p>
      <p>彼女は瘦せています <br>She is thin.</p>
      <p>お母さん日本はいっています <br>She has gone to Japan.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="teFormPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Joining sentense
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <p>いadjective　安い　→　安くて <br>
        なadjective　元気な　→　元気で <br>
        irregular adjective　いい　→　よくて <br>
        noun　学生です　→　学生で<br></p>

        <p>あのレストランの食べ物は安くて、おいしいです<br>The food in this restaurant is cheap and tasty.</p>
        <p>彼は学生で、二十歳ぐらいです<br>He is a student and about 20 years old.</p>
      </mat-expansion-panel>

  </mat-tab>

</mat-tab-group>