.answer-form .startTheTest-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/* .example-full-width {
  width: 100%;
} */

.correctNum {
  color:lightblue;
  display: inline;
}

.tryNum {
  color:Red;
  display: inline;
  padding-left: 30%;
}

.mat-card {
  text-align:center;
  margin-top: 1%;  
}
