<div *ngIf="isDataLoaded">
  <mat-card>
    <mat-card-content>
      <h2>Test configuration</h2>
      <p>Right now the total number of verbs in database: {{verbTotalNumber}}</p>
      <p>I want to test {{numberToTest}} verbs</p>

      <mat-slider class="example-margin" [disabled]="disabled" [max]="verbTotalNumber" [min]="min" [step]="step"
        [thumbLabel]="thumbLabel" [(ngModel)]="numberToTest">
      </mat-slider>

      <button mat-raised-button color="accent" (click)="go()">Let's Go</button>
    </mat-card-content>
  </mat-card>
</div>

<!-- test -->
<div *ngIf="isDataLoaded">
  <div *ngIf="!isHidden && !testIsFinished">
    <div *ngIf="!testIsFinished"></div>
    <mat-card class="test">
      <mat-card-content>
        <p class="correctNum">{{correctNumber}}</p>
        <p class="tryNum">{{tryNumber}}</p>
        <p>ID: {{getId()}}</p>
        <p>{{getVerbToTest().verbEng}}</p>
        <p>{{getVerbToTest().verbJap}}</p>
        <!-- <p>{{getVerbToTest().verbTeForm}}</p> -->

        <form class="answer-form">
          <mat-form-field>
            <input name="answer" [(ngModel)]="answer" matInput placeholder="Answer">
          </mat-form-field>
          <p>
            <button mat-raised-button (click)="next()" color="accent" type="submit">Answer</button>
          </p>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
</div>

<!-- result -->
<div *ngIf="showResult">
  <mat-card>
    <mat-card-content>
      <p>You tested {{numberToTest}} verbs</p>
      <p>You completed the test in {{tryNumber}} times</p>
      <p>You failed {{getFailNumber()}} times</p>

      <button mat-raised-button color="accent" (click)="reset()">Do IT AGAIN</button>
    </mat-card-content>
  </mat-card>
</div>