<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Japanese Te Form Study</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <!--  fxFlex fxLayout fxLayoutAlign="end" -->
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
            </li>
            <li>
                <a routerLink="/study" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Study</a>
            </li>
            <li>
                <a routerLink="/test" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Test</a>
            </li>
            <li>
                <a routerLink="/verbs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Verbs</a>
            </li>
        </ul>
    </div>
</mat-toolbar>