<mat-tab-group #tabGroup>
  <mat-tab label=Verbs>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Verbs</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <table mat-table [dataSource]="dataSource" matSort >

          <!-- ID Column -->
          <ng-container matColumnDef="verbId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let verb"> {{verb.verbId}} </td>
          </ng-container>

          <!-- Eng Column -->
          <ng-container matColumnDef="verbEng">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> English </th>
            <td mat-cell *matCellDef="let verb"> {{verb.verbEng}} </td>
          </ng-container>

          <!-- Jap Column -->
          <ng-container matColumnDef="verbJap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Japanese </th>
            <td mat-cell *matCellDef="let verb"> {{verb.verbJap}} </td>
          </ng-container>

          <!-- Te form Column -->
          <ng-container matColumnDef="verbTeForm">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Te Form </th>
            <td mat-cell *matCellDef="let verb"> {{verb.verbTeForm}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="selectRow(row)" *matRowDef="let row; columns: displayedColumns;">

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>
<!-- 
  <mat-tab label="Insert a new word">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Insert a new word</mat-card-title>
      </mat-card-header>
      <mat-card-content>

       
        <form class="insertForm" (submit)="insertVerb(verbForm)" #verbForm="ngForm" [formGroup]="formGroup">
          <div class="form-container">
            <mat-form-field>
              <input matInput formControlName="formVerbEng" placeholder="English">
              <div *ngIf="submitted &amp;&amp; formGroup.controls.formVerbEng.errors">
                <div *ngIf="formGroup.controls.formVerbEng.errors.required">verb in English is required</div>
                <div *ngIf="formGroup.controls.formVerbEng.errors.pattern">
                  input pattern Not valid
                </div>
              </div>
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="formVerbJap" placeholder="Japanese">
              <div *ngIf="submitted &amp;&amp; formGroup.controls.formVerbJap.errors">
                <div *ngIf="formGroup.controls.formVerbJap.errors.required">verb in Japanese is required</div>
                <div *ngIf="formGroup.controls.formVerbJap.errors.pattern">
                  input pattern Not valid
                </div>
              </div>
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="formVerbTeForm" placeholder="Te Form">
              <div *ngIf="submitted &amp;&amp; formGroup.controls.formVerbTeForm.errors">
                <div *ngIf="formGroup.controls.formVerbTeForm.errors.required">verb in Te form is required</div>
                <div *ngIf="formGroup.controls.formVerbTeForm.errors.pattern">
                  input pattern Not valid
                </div>
              </div>

            </mat-form-field>

            <p>
              <button mat-raised-button color="accent" type="submit">Insert</button>
            </p>
          </div>
        </form>
       
      </mat-card-content>
    </mat-card>
  </mat-tab> -->



</mat-tab-group>