<!-- <div class="container py-5">  
    <h3 class="text-center text-uppercase">List of verbs</h3>  
    <table class="table table-bordered table-striped">  
        <thead>  
            <tr class="text-center text-uppercase">  
                <th> ID</th>  
                <th> word in English</th>  
                <th>verb in Japanese</th>  
                <th>Te Form</th>                  
              </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let verb of verbs">  
            <td>{{verb.verbId}}</td>  
            <td>{{verb.verbEng}}</td>  
            <td>{{verb.verbJap}}</td>  
            <td>{{verb.verbTe}}</td>          
          </tr>  
        </tbody>  
      </table>  
    </div>   -->

    
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- customerID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let verb"> {{verb.verbId}} </td>
      </ng-container>
  
      <!-- First Name Column -->
      <ng-container matColumnDef="English">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> English </th>
        <td mat-cell *matCellDef="let verb"> {{verb.verbEng}} </td>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="Japanese">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Japanese </th>
        <td mat-cell *matCellDef="let verb"> {{verb.verbJap}} </td>
      </ng-container>
  
      <!-- DOB Column -->
      <ng-container matColumnDef="Te Form">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Te Form </th>
        <td mat-cell *matCellDef="let verb"> {{verb.verbTeForm}} </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>action
        </th> -->
        <!-- <td mat-cell *matCellDef="let row">
          <button id="deletebtn" mat-flat-button color="warn" (click)="deleteClick(row, $event)">Delete</button>
        </td> -->
      <!-- </ng-container> -->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="selectRow(row)" *matRowDef="let row; columns: displayedColumns;">
        <!-- (click)="selection.toggle(row)"  -->
        
        
  
      
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <!-- </div> -->
